:root {
    --md-sys-color-primary: #d81b42;
    --md-sys-color-on-primary: #d9d9d9;

    --md-sys-color-secondary: #003b75;
    --md-sys-color-on-secondary: #d9d9d9;

    --md-sys-color-background: #d9d9d9;
    --md-sys-color-on-background: #262626;

    --md-sys-color-surface: #d9d9d9;
    --md-sys-color-on-surface: #262626;

    --md-sys-color-outline: #aaa;

    color-scheme: light;
}

body {
    padding: 12px;
    background-color: var(--md-sys-color-background);
    transition: all 0.15s ease-in-out;
}

body.dark {
    --md-sys-color-primary: #ff4c6d;
    --md-sys-color-on-primary: #262626;

    --md-sys-color-secondary: #4f78a5;
    --md-sys-color-on-secondary: #d9d9d9;

    --md-sys-color-background: #121212;
    --md-sys-color-on-background: #d9d9d9;

    --md-sys-color-surface: #262626;
    --md-sys-color-on-surface: #d9d9d9;

    --md-sys-color-outline: #555555;

    color-scheme: dark;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

md-dialog#login-form {
    --md-dialog-container-color: var(--md-sys-color-surface);
    --md-dialog-headline-color: var(--md-sys-color-on-surface);
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.link {
    color: #4150d8;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.action-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}